---
layout: layouts/home.njk
eleventyNavigation:
  key: Estates Under Threat
  order: 1
---
<h1>Estates Under Threat</h1>

<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
	
	<p>Over 100 of London's council and housing association estates are under threat of demolition. Our research shows where they are and what is replacing them:</p>
</div>
<!-- Stop deleting -->

{% set estateslist = collections.estates %}
{% include "estateslist.njk" %}
